#players {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  #players li {
    display: flex;
    align-items: center;
    width: 50%;
    border: 2px solid transparent;
  }
  
  
  .player-name {
    display: inline-block;
    width: 10rem;
    font-size: 1rem;
    color: #e1dec7;
    text-transform: uppercase;
    margin: 0;
    padding: 0.5rem;
    border-radius: 4px;
    text-overflow: ellipsis;
    text-align: center;
  }
  
  .player-symbol {
    margin-left: 1rem;
    font-size: 1rem;
    color: #e1dec7;
  }
  
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }